{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <div class="knowledge-base">
        <h1>База знаний</h1>
        
        <nav class="top-menu">
            <a href="/lab5/list" class="menu-item">Список статей</a>
            <a href="/lab5/create" class="menu-item">Создать статью</a>
            <a href="/lab5/login" class="menu-item">Войти</a>
                <a href="/lab5/register" class="menu-item">Регистрация</a>
            {% if login %}
                <div class="user-display">{{ login }}</div>
                <a href="/lab5/logout" class="menu-item">Выйти</a>
            {% else %}   
                <div class="user-display">Anonymous</div>
            {% endif %}
        </nav>
        
        <div>
            
        </div>
    </div>
{% endblock %}